<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YQItemCellDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21D787B61B4A1182005AC775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21D787CF1B4A1182005AC775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21DD0C4C1B4B6DC900312470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
